*{margin:0;padding:0}
a{text-decoration:none}
p{font-size:14px;color: #fff;}
li{list-style:none;text-align:center}
.jitter_top_grouping i{border: 1px solid #fff;height: 11px;display: inline-block;}

/* -公用- 屏幕顶部*/
.jitter_top{width:100%;height:60px;text-align: center;position: relative;}
.dropdown-menu{transform-origin:center top;position:absolute;top:60px;right:-17px;background:#fff;border-radius:5px;display:none}
.popper_arrow{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:8px solid #ffffff;margin:-8px 0px 0px 20px}
.dropdown-menu_item{line-height:36px;padding:0 20px;font-size:14px;color:#606266;cursor:pointer;outline:0;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical}
.jitter_top_grouping>p{padding:0 10px}
.jitter_top_enlist{width:60px;height:60px;font-size:14px;color:#666;background:url(../images/camera.png) no-repeat;background-size:50%;background-position:0% 50%;display:inline-block;text-align:end;line-height:60px;margin-left:10px;float:left}
.jitter_top_grouping{display:-webkit-inline-box;line-height:60px;position:relative}

/* -公用- 底部菜单栏*/
.hdk-lower-skin{width:100%;position:fixed;bottom:0;left:0;z-index:1}
.hdk-lower{max-width:560px;height:54px;background:#101010;margin:0 auto;display:-webkit-flex;-webkit-justify-content:space-around;align-items:center}
.hdk-lower>.p{border-bottom:2px solid #fff}
.hdk-menu{text-align:center}
.hdk-menu>p{color:#8a8a8a;font-size:14px;line-height:54px}
.sign-up{height:32px;opacity:.8}

/*-公用- 回顶部*/
.hdk-Return-skin{width:100%;position:fixed;bottom:60px;right:0px}
.hdk-Return{width:100%;max-width:650px;position:relative;margin:0 auto}
.hdk-within{position:absolute;top:-50px;right:10px;width:40px}
.hdk-Return>a>img{width:40px;height:40px}

/*-共用- 技术支持*/
.hdk-hi-copyright{border:1px solid #fff;margin:50px auto 10px;border-radius:50px;text-align:center;line-height:26px;width:150px;color:#fff;font-size:12px}
.hdk-empty{height:60px}

/*首页样式*/
.swiper-container{height:100vh;max-width:560px;width:100%;background:#0f0f1b;position:relative}
#video{width: 100%;height: 100%;}
.video-cover{position:absolute;margin:auto;-o-object-fit:contain;object-fit:contain;left:0;width:100%;height:100%;top:50%;background:#000;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.icon-play{position:absolute;top:44%;right:0;left:0;z-index:1;bottom:auto;margin:auto;height:60px;width:60px;background:url(../images/icon-play.png) no-repeat 50%;background-size:100% 100%;border-radius:50%}
.jitter_right{width:60px;position:absolute;right:0;bottom:84px;z-index:2}
.jitter_right>li{width:60px;height:60px;margin-bottom: 10px;}
.player_img{border-radius: 50%;width:40px;height:40px;object-fit: cover;}
.index_player{width:80%;position:absolute;bottom:56px;padding-left:10px}
.index_player>h2{color:#fff;font-size:16px}
.index_player>p{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:14px}
.jitter_top_search{float:right;width:60px;height:60px;display:flex;align-items:center}
.jitter_top_search input{width:50px;height:36px;border-radius:42px;outline: none;border:2px solid #324B4E;transition:.3s linear;float:right;background:#000;color:#fff;display:none;position:absolute;top:10px;right:0;width:97%;padding-left:2%}
.jitter_top_search img{position:absolute;background:none;top:19px;right:15px;width:24px;height:24px;border:none}
.roll{width:100%;height:30px;overflow:hidden}
.roll ul{list-style:none;width:200px}
.roll ul li{line-height:30px;height:30px;color:red;font-size:12px;text-align:left}
.mask_player_img{width: 100px;height: 100px;margin: 10px auto;}
.mask_player_news{font-size: 12px;margin: 15px auto;}
.mask_player_news>span{color: red;}

 /* -- 选手个人信息 -- */
.mask{display:none;position:absolute;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.4);z-index:2}
.mask_info{max-width:200px;padding:20px;width:100%;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:2;background-color:#fff;border-radius:10px}
.Close{position:absolute;top:-30px;right:0px;font-size: 24px;}
.mask_info>.introduce{color:#878787}
.mask_info>button{border-radius:5px;background:#ff2b54;padding:5px 60px;color:#fff;margin:10px auto;outline:none;border:none;}

/*关注二维码*/
.mask_qr_bg{display:none;position:absolute;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.4);z-index:2}
.mask_qr{ max-width:200px;padding:0 20px;width:100%;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:2;background-color:#fff;border-radius:5px}
.mask_qr>.qr{position: absolute;top: 5px;right: 10px;color: #666;font-size: 22px;}
.mask_player_qr{width: 100%;}
.mask_qr>p{color: #666;margin: 8px auto;}

/*留言*/
.marker_wrip{display:none;position:fixed;bottom:0;max-width:560px;width:100%;height:60vh;z-index:3;background:#fff;text-align:center;box-shadow:5px 0 5px #090909}
.marker_Close{position:absolute;top:8px;right:10px;color:#666;font-size: 22px;}
.share>h3,.marker_wrip>h3{font-size:16px;margin-top:10px;color:#2c3e50;font-weight:400}
.marker_wrip>ul{overflow-y:scroll;height:45vh}
.marker_wrip>ul>li{height:42px;margin:10px auto}
.marker_wrip>ul>li>p{color:#000;text-align:initial;font-size:12px;line-height:21px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.marker_img{border-radius:5%;width:42px;height:42px;object-fit:cover;float:left;margin:auto 10px}
.Submission{position:fixed;bottom:0px;width:100%;height:50px;background-color:#fff;box-sizing:border-box;border-top:1px solid #f3f3f3;padding:0px 80px 0px 0;max-width:560px}
.Submission>input{height:100%;width:90%;border-radius:0;border:0;padding:0 10px;color:#333;padding-left:10px;outline:none}
.marker_wrip .Submission>button{background-color:#07c160;border-radius:5%;width:80px;height:35px;box-sizing:border-box;line-height:36px;color:white;display:block;text-align:center;position:absolute;right:5px;top:7px;outline:none;border:none}
/*分享*/
.share{display:none;position:fixed;bottom:0;max-width:560px;width:100%;z-index:3;background:#fff;text-align:center;box-shadow:5px 0 5px #090909}
.share_cancel{max-width:560px;width:100%;line-height:50px;background-color:#fff;border-top:1px solid #f3f3f3}
.share_wrip{width:100%;height:90px;display:flex;justify-content:space-evenly;align-items:center}
.share_wrip>span{width:40%}
.share_wrip>span>p{color:#000;font-size:14px;margin-top:5px}
.color{font-size:32px;color:#20ca2e}

  
/*排行榜样式*/

.hdk-skin{max-width:500px;margin: 60px auto 54px;text-align:center;background:#161922}
.hdk-Player{margin:5px auto;width:96%;height:72px;border-radius:5px;display:flex;align-items:center;position:relative}
.hdk-order{margin:0px 10px;font-size:24px;color:#8d8f99}
.hdk-chart{margin:8px 5px;width:55px;height:55px;float:left}
.hdk-chart>img{width:100%;height:100%;border-radius:50%;object-fit:cover}
.hdk-player_wrip{margin-left:10px;font-size:14px;float:left;display:inline-block;color:#fff}
.hdk-player_wrip>h5{display: table-cell;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;max-width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.hdk-player_wrip>span{color:rgb(141,143,153);display:table}
.hdk-player_wrip>span>p{display:inline-block;color:rgb(141,143,153);margin-right:5px}
.icon-iconfont{display:inline-block;color:#fff;background:#fe2c53;width:30px;height:30px;border-radius:50%;position:absolute;right:15px}
.icon-iconfont>i{position:absolute;top:9px;right:11px;width:9px;height:9px;border-right:2px solid #fff;border-top:2px solid #fff;transform:rotate(45deg)}
.hdk-clicks{height:36px;line-height:36px;color:#fff}
.hdk-notice{height:50px;border-bottom:1px solid #fb708b;position:relative}
.hdk-notice>img{position:absolute;top:20%;left:2%}
.hdk-notice>p{color:#fff;line-height:50px;float:left;margin-left:50px}
.hdk-Arrow{position:absolute;top:20%;right:2%}



































